@import "./main/vars.scss";

.header{
    background: url("../imgs/bg.png") center/cover no-repeat;
    // background-size: 100vw 110vh;
    // background-position: top 0;
    position: relative;
    @media(max-width:768px){
        background: url("../imgs/bg_mobile.png") center no-repeat;
    }
    @media(max-width:525px){
        background: url("../imgs/bg_mobile.png") right 40% center no-repeat;
    }
        &__row{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // position: fixed;
        // top: 0;        
    }
}
.header__logo{
    width: 50px;
    height: 40px;
}
.header__logo{
    transition: 0.4s;
}
.header__logo:hover{    
    content: url('../imgs/logo_g.svg');
}
.nav{
    display: flex;
    align-items: center;
}
.nav__menu{
    display: flex;
    justify-content: space-between;
    scroll-behavior: smooth;    
    @media(max-width:768px){
        display: none;
        // transform: translateX();
        // transition: all 0.4s ease;
    }
}  
.nav__menu.active{
    @media(max-width:768px){
        display: flex;        
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        right: 0px;
        top: 0px; 
        background-color: $primary-color;        
        height: 100vh;
        width: 50%;
        z-index: 999;
        padding-left: 50px;
        padding-top: 100px;
        font-size: 20px;
        // transform: translateX(0);
        // transition: transform 0.4 ease;
        // transition: all 1s;
        
        transform: translateX(0);
        transition: all 0.4s ease;
    } 
    @media(max-width:600px){
        width: 70%;
    }
    @media(max-width:500px){
        width: 80%;
    }
    @media(max-width:400px){
        width: 80%;
    }
}
.nav__link{
    @media(max-width:768px){
        padding-bottom: 20px;
    }
}
.nav__mobile_button{
    display: none;
    &:hover{
        content: url('../imgs/burger-menu_g.svg')
    }
    @media(max-width:768px){
        display: block;
        width: 50px;
        height: 28px;
        margin-left: 30px;
        cursor: pointer;
    }
}
.nav__close_mobile{
    @media(max-width:768px){
        width: 45px;
        height: 45px;
        position: absolute;
        right: 65px;
        top: 25px;
        background-image: url('../imgs/close.svg');
        cursor: pointer;
    }
    @media(max-width:450px){
        right: 25px;
    }
}
.nav__link{
    display: inline-block;
    color: $secondary-color;
    padding-left: 20px;
    padding-right: 20px;

    &:hover{
        color: $third-color;
    }
}
.nav__lang_switch{
    padding-left: 10px;        
}
.nav__lang_switcher{
    color: $secondary-color;
}
.nav__lang_switcher:hover{
    color: $third-color;
}  
.active{
    color: $third-color;
}
.nav__theme_switch{
    margin-left: 10px;
    width: 45px;
    height: 45px;
}
.nav__light_switch{
    margin-left: 10px;
    transition: 0.4s;
}
.nav__light_switch img:hover{
    content: url('../imgs/sun_g.svg');    
}
.nav__dark_switch{
    margin-left: 10px;
    transition: 0.4s;
    display: none;
}
.nav__dark_switch img:hover{
    content: url('../imgs/moon_g.svg');
}
.header__hero {
    @media(max-width:525px){
        text-align: center;
    }    
}
.header__name{
    margin-top: 200px;
    font-family: $secondary-font;
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 50px;
    @media(max-width:768px){
        font-size: 32px;
        margin-top: 80px;
        padding-bottom: 30px;
    }
    @media(max-width:525px){
        margin-top: 80px;
        padding-bottom: 40px;
    }
}
.header__slogan{
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 40px;
    max-width: 35%;
    @media(max-width:768px){
        max-width: 60%;
        line-height: 24px;
        padding-bottom: 70px;
        height: 100px;
    }
    @media(max-width:600px){
        padding-bottom: 40px;
    }
    @media(max-width:525px){
        max-width: 100%;
        padding-bottom: 40px;
    }
}
.header__button{
    font-size: 20px;
    color: $primary-color;
    background: $third-color;
    padding: 15px 0;
    transition:0.25s;
    margin-bottom: 300px;
    width: 220px;
    outline: none;
    border: none;

    &:hover{
    box-shadow: 0 0.5em 0.5em -0.4em #bdae82;
    transform: translatey(-0.65em);
    color: $secondary-color;
    }
    @media(max-width:768px){
        margin-top: 30px;
        margin-bottom: 130px;
    }
    @media(max-width:600px){
        margin-bottom: 100px;        
    }
    @media(max-width:525px){
        margin-bottom: 100px;        
    }
    @media(max-width:375px){
        margin-top: 50px;        
    }
    @media(max-width:320px){
        margin-top: 80px;        
    }
}