@import "./main/vars.scss";

.portfolio__title{
    margin-top: 50px;
    margin-bottom: 80px;
    font-family: $secondary-font;
    font-size: 40px;    
    color: $third-color;
    text-align: center;

}
.portfolio__title span{
    position: relative;
}
.portfolio__title span::before{
    content: "";
    width: 270px;
    height: 2px;
    background: $third-color;
    position: absolute;
    left: 200px;
    top: 50%;
}
.portfolio__title span::after{
    content: "";
    width: 270px;
    height: 2px;
    background: $third-color;
    position: absolute;
    right: 200px;
    top: 50%;
}
.portfolio__buttons{
    display: flex;
    justify-content: center;   
    margin-bottom: 70px; 

}
.portfolio__button{
    border: 2px solid #BDAE82;
    width: 220px;
    font-size: 20px;
    color: $third-color;
    padding: 15px 0;
    margin: 0 3px;

}
.portfolio__button:hover{
    background: $third-color;
    color: $primary-color;
}
.portfolio__imgs{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 15px 15px;
    margin-bottom: 50px;
}
.portfolio__imgs img{
    width: 100%;
    height: 100%;
}
.portfolio__video{
    position: relative;   
}
.portfolio__video img{
    width: 100&;
    height: 100%;
   
}
.portfolio__video::after{
    content: url(../imgs/play_hover.svg);
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%)
}