@import "./main/vars.scss";

.prices__title{
    margin-top: 100px;
    margin-bottom: 80px;
    font-family: $secondary-font;
    font-size: 40px;    
    color: $third-color;
    text-align: center;
    @media(max-width:770px){
        font-size: 32px; 
        margin-top: 70px; 
        margin-bottom: 40px;       
    }
}
.prices__cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-wrap: nowrap;
    @media(max-width:770px){
        margin-bottom: 80px;
        flex-direction: column;
    }
}