@import "./main/vars.scss";

.skills__title{
    margin-top: 150px;
    margin-bottom: 70px;
    font-family: $secondary-font;
    font-size: 40px;    
    color: $third-color;
    text-align: center;
    @media(max-width:768px){
        margin-top: 80px;
        font-size: 32px; 
    }
}
.title_span{
    position: relative;
}
.theme-gold-pseudoelem{
    position: relative;
}
.title_span::before{
    content: "";
    width: 270px;
    height: 2px;
    background: $third-color;
    position: absolute;
    left: 120%;
    top: 50%;
    @media(max-width:768px){
        width: 130px;
    }
    @media(max-width:500px){
        width: 100px;
    }
    @media(max-width:430px){
        width: 70px;
        left: 103%;

    }
}
.title_span::after{
    content: "";
    width: 270px;
    height: 2px;
    background: $third-color;
    position: absolute;
    right: 120%;
    top: 50%;
    @media(max-width:768px){
        width: 130px;
    }
    @media(max-width:500px){
        width: 100px;
    }
    @media(max-width:430px){
        width: 70px;
        right: 103%;
    }
}
.theme-gold-pseudoelem::before{
    background: $primary-color;
    content: "";
    width: 270px;
    height: 2px;
    position: absolute;
    left: 120%;
    top: 50%;
    @media(max-width:768px){
        width: 130px;
    }
    @media(max-width:500px){
        width: 100px;
    }
    @media(max-width:430px){
        width: 70px;
        left: 103%;
    }
}
.theme-gold-pseudoelem::after{
    background: $primary-color;
    content: "";
    width: 270px;
    height: 2px;
    position: absolute;
    right: 120%;
    top: 50%;
    @media(max-width:768px){
        width: 130px;
    }
    @media(max-width:500px){
        width: 100px;
    }
    @media(max-width:430px){
        width: 70px;
        right: 103%;
    }
}
.skills__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media(max-width:430px){
        flex-direction: column;
        justify-content: center;
    }
}