.container
    .footer
        .footer__left
            p &copy
            p 2022
            p
                a(href="https://github.com/olgazh565?tab=repositories") github
        .footer__links 
            a(href="https://www.instagram.com/")
                img(src="./assets/imgs/instagram.svg", alt="instagram") 
            a(href="https://www.facebook.com/")
                img(src="./assets/imgs/facebook.svg", alt="facebook") 
            a(href="https://twitter.com/")
                img(src="./assets/imgs/twitter.svg", alt="twitter")
            a(href="https://www.pinterest.com")
                img(src="./assets/imgs/pintrest.svg", alt="pintrest") 
       
