header.header 
    .container 
        .header__row
            a.header__logo(href="index.html")
                img(src="./assets/imgs/logo.svg", alt="logo")
            menu.nav
                .nav__wrapper   
                    .nav__menu 
                        a.nav__link(text='skills' href='#skills') Skills
                        a.nav__link(text='portfolio' href='#portfolio') Portfolio
                        a.nav__link(text='video' href='#video') Video
                        a.nav__link(text='price' href='#price') Price
                        a.nav__link(text='contacts' href='#contacts') Contacts
                        span.nav__close_mobile
                .nav__lang_switch
                    span.nav__lang_switcher.active(id='en' href='#') en 
                    span / 
                    span.nav__lang_switcher(id='ru' href='#') ru
                .nav__theme_switch 
                    span.nav__light_switch(href='#')
                        img(src='./assets/imgs/sun.svg' alt='theme')
                    span.nav__dark_switch(href='#')
                        img(src='./assets/imgs/moon.svg' alt='theme')
                .nav__mobile_button
                    img(src='./assets/imgs/burger-menu.svg', alt='menu')
        .header__hero 
            h1.header__name(text='hero-title') Alexa Rise
            p.header__slogan(text='hero-text') Save sincere emotions, romantic feelings and happy moments of life together with professional photographer Alexa Rise
            button.header__button(text='hire') Hire me         