header.header 
    .container 
        .header__row
            a.header__logo(href="index.html")
                img(src="./assets/imgs/logo.svg", alt="logo")
            menu.nav
                .nav__menu 
                    a.nav__link(text='skills' href="#") Skills
                    a.nav__link(text='portfolio' href="#") Portfolio
                    a.nav__link(text='video' href="#") Video
                    a.nav__link(text='price' href="#") Price
                    a.nav__link(text='contacts' href="#") Contacts
                    span.nav__close_mobile
                .nav__lang_switch
                    a.nav__lang_switcher.en.active(href='#') en 
                    span / 
                    a.nav__lang_switcher.ru(href='#') ru
                .nav__theme_switch 
                    a.nav__light_switch(href='#')
                        img(src='./assets/imgs/sun.svg')
                    a.nav__dark_switch(href='#')
                        img(src='./assets/imgs/moon_g.svg')
                .nav__mobile_button
                    img(src='./assets/imgs/burger-menu.svg', alt="menu")
        .header__hero 
            h1.header__name(text='hero-title') Alexa Rise
            p.header__slogan(text='hero-text') Save sincere emotions, romantic feelings and happy moments of life together with professional photographer Alexa Rise
            button.header__button(text='hire') Hire me               