section 
    .container 
        h2.portfolio__title 
            span Portfolio
        .portfolio__buttons
            button.portfolio__button(text='winter') Winter 
            button.portfolio__button(text='spring') Spring 
            button.portfolio__button(text='summer') Summer 
            button.portfolio__button(text='autumn') Autumn          
        .portfolio__imgs 
            img.portfolio__img(src="./assets/imgs/portfolio-img.png" alt="1")
            img.portfolio__img(src="./assets/imgs/portfolio-img (1).png" alt="2")
            img.portfolio__img(src="./assets/imgs/portfolio-img (2).png" alt="3")
            img.portfolio__img(src="./assets/imgs/portfolio-img (3).png" alt="4")
            img.portfolio__img(src="./assets/imgs/portfolio-img (4).png" alt="5")
            img.portfolio__img(src="./assets/imgs/portfolio-img (5).png" alt="6")
        h2.portfolio__title
            span Video
        .portfolio__video 
            img(src="./assets/imgs/video-player.png" alt="video")