//- include ../mixins/prices_item

.container 
    h2.prices__title
        span.title_span(text='price' id='price') Price
    .prices__cards 
        .prices__card.card
            h3.card__title Standard
            p.card__price 500 $
            p.card__description(text='price-description-1-span-1') One location
            p.card__description(text='price-description-1-span-2') 120 photos in color
            p.card__description(text='price-description-1-span-3') 12 photos in retouch
            p.card__description(text='price-description-1-span-4') Readiness 2-3 weeks
            p.card__description(text='price-description-1-span-5') Make up, visage
            button.card__button(text='order') Oder shooting
        .prices__card.card 
            h3.card__title Premium
            p.card__price 700 $
            p.card__description(text='price-description-2-span-1') One or two locations
            p.card__description(text='price-description-2-span-2') 200 photos in color
            p.card__description(text='price-description-2-span-3') 20 photos in retouch
            p.card__description(text='price-description-2-span-4') Readiness 1-2 weeks
            p.card__description(text='price-description-2-span-5') Make up, visage
            button.card__button(text='order') Oder shooting
        .prices__card.card
            h3.card__title Gold
            p.card__price 1000 $
            p.card__description(text='price-description-3-span-1') Three locations or more
            p.card__description(text='price-description-3-span-2') 300 photos in color
            p.card__description(text='price-description-3-span-3') 50 photos in retouch
            p.card__description(text='price-description-3-span-4') Readiness 1 week
            p.card__description(text='price-description-3-span-5') Make up, visage, hairstyle
            button.card__button(text='order') Oder shooting

//- Комментирую, потому что не могу использовать mixins
//- для перевода сайта
        +prices-item("Standard", "500 $", "One location", "120 photos in color", "12 photos in retouch", "Readiness 2-3 weeks", "Make up, visage", "Order shooting")
        +prices-item("Premium", "700 $", "One or two locations", "200 photos in color", "20 photos in retouch", "Readiness 1-2 weeks", "Make up, visage", "Order shooting")
        +prices-item("Gold", "1000 $", "Three locations or more", "300 photos in color", "50 photos in retouch", "Readiness 1 week", "Make up, visage, hairstyle", "Order shooting")
