//- Отключаю mixins, потому что с ними не получается
//- перевод на другой язык

//- mixin skills-item(img, name, description)
//-     .skills__item 
//-         img.skills__img(src=img alt="img")
//-         p.skills__name=name
//-         p.skills__description=description 

