@import "./vars.scss";

html{
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 36px;
    color: $secondary-color;
    background: #000000;  
    scroll-behavior: smooth;  
}
html.light{
    background-color: $secondary-color;

    & .skills__title{
        color: $primary-color;    
    }
    & .skills__name{
        color: $primary-color;
    }
    & .skills__description{
        color: $primary-color;
    }
    .portfolio__title{
        color: $primary-color;
    }
    .portfolio__button{
        color: $primary-color;
    }
    .portfolio__button:hover{
        color: $primary-color;
    }
    .portfolio__button.selected{
        background: $third-color;
        color: $primary-color;
    }
    .portfolio__title{
        color: $primary-color;
    }
    .prices__title{
        color: $primary-color;
    }
    .card__title{
        color: $primary-color;
    }
    .card__description{
        color: $primary-color;
    }
    .title_span::before{
        background: $primary-color; 
    }
    .title_span::after{
        background: $primary-color;
    }
}
.container{
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
    @media(max-width:1024px){
        max-width: 1024px;
        padding: 0 40px;
    }
    @media(max-width:770px){
        max-width: 768px;
        padding: 0 60px;
    }
    @media(max-width:500px){
        max-width: 500px;
        padding: 0 30px;
    }
}
a{
    text-decoration: none;
}